.album__container {
  margin-left: 0.5rem;
  margin-top: 1.25rem;
  position: relative;
  /* right: 100px; */
  height: 400px;
  /* top: 55px; */
}

.album {
  height: 267px;
  width: 267px;
  cursor: pointer;
}

.album__container:hover {
  z-index: 10;
}

.album:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale3d(1.15, 1.15, 1.15);
}
