/* TODO Add site wide styles */
button {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #484848; */
}

input {
  outline: none;
}

:root {
  --green: #1db954;
  --lightgreen: #1ed760;
  --dark: #191414;
}
