.browse__container {
  position: relative;
}

.sliders__c {
  position: relative;
  bottom: 15rem;
}

.preview__video__container {
  position: relative;
}

#prev__video__info {
  position: relative;
  bottom: 55rem;
}

#prev__video__title__container {
  color: white;
  position: absolute;
  top: 15%;
  left: 5%;
  font-size: 75px;
  /* font-size: 40rem; */
}

#prev__vid__artist {
  position: absolute;
  top: 35%;
}

#prev__vid__description {
  font-size: 30px;
  width: 700px;
}

#prev__video__btns {
  position: relative;
  top: 33rem;
  left: 5rem;
}
#prev__v__play,
#prev__v__info {
  height: 58px;
  width: 150px;
  border-radius: 4px;
  margin-left: 1rem;
  font-size: 1.5rem;
  color: black;
}

#prev__v__info {
  width: 200px;
  color: white;
  background-color: rgb(87, 87, 87);
  border: none;
}

.ic {
  margin-right: 1rem;
}
