#menu {
  color: white;
  height: 32px;
  /* width: 52px; */
}

#profile__img {
  width: 32px;
  height: 32px;
}

#propic {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

#menu-list-grow {
  color: white;
  position: relative;
  background-color: var(--dark);
  box-shadow: 1px 1px 10px 1px black;
  border-radius: 4px;
}

#logout {
  background: none;
  color: white;
  border: none;
  font-size: 16px;
}
